* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

#container {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1,
p {
    text-align: center;
    font-family: roboto;
}

h1 {
    font-size: 100px;
    color: #bdbdbd;
    margin-bottom: 10px;
}

h2 {
    color: #484848;
    font-family: roboto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 36px;
}

p {
    margin-top: 20px;
    color: #d5d5d5;
    font-size: 55px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

hr {
    margin: auto;
    animation: lineAnim 3.2s;
    width: 35vw;
    max-width: 455px;
}

#content {
    display: none;
    margin: 10px auto;
    width: calc(100% - 20px);
    max-width: 800px;
    padding: 10px;
}

#grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    background-color: #f1f1f1;
}

#logoWrapper {
    width: 100%;
    background-color: white;
    display: table;
    margin-bottom: 20px;
    margin-top: 15px;
}

#mainLogo {
    max-height: 400px;
    margin: 0 auto;
    display: table;
    max-width: 100%;
}

.magsonPromo {
    width: 100%;
    display: table;
    margin: 2px auto;
}

#grid>img {
    grid-column: span 1;
    position: relative;
    width: 100%;
}


@keyframes lineAnim {
    from {
        width: 0;
    }

    to {
        width: 35vw;
    }
}

@media only screen and (max-width: 1025px) {
    h1 {
        font-size: 70px;
    }

    p {
        font-size: 35px;
    }
}
@media only screen and (max-width: 426px) {
    h1 {
        font-size: 30px;
    }

    p {
        margin-top: 5px;
        font-size: 25px;
    }
}